:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #333333;
  --basic-light-gray: #EEEEEE;
  --basic-extra-light: #F2F2F2;
  --basic-dark-gray: #EBEBEB;
  --basic-gray999: #A9A9A9;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #81B3D3;
  --basic-blue669: #669EC0;
  --basic-extra-blue: #5496BD;
  --basic-brown: #766357;
  --basic-light-brown: #888888;
  --basic-dark-brown: #604E43;
  --basic-extra-brown: #503E33;
  --basic-white-4: #deebf4;
  --opacity-footer: rgba(255, 255, 255, 0.9);
  --opacity-menu: rgba(0, 0, 0, 0.3);

  --special: #6A6A6A;
}

body {
  min-width: 768px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-gray);
  background: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.page a {
  text-decoration: none;
}


img {
  max-width: 100%;
  height: auto;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-white);
}

.main-nav-menu {
  list-style: none;
}

.main-nav-menu a{
  color: var(--basic-black);
}


.main-nav-link:hover {
  color: var(--basic-blue);
}

.main-nav-link:active {
  color: var(--opacity-menu);
}

.about {
  text-align: center;
  background-color: var(--basic-white);
  z-index: 1;
}


.about-title {
  font-size: 21px;
  line-height: 26px
  color: var(--basic-black);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0 0 30px;
}

.about-cause {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-gray);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
  margin: 0;
}


.reason-info {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  text-align: center;
}

.reason-img {
  background-color: var(--basic-white-4);
  height: inherit;
}


.reason-title {
  font-size: 21px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-items {
  list-style: none;
}


.features-item::before {
  content: "";
  position: absolute;
  left: 50%;
}

.features-item-house::before {
  background: url() no-repeat top center;
  background-size: 74px 70px;
}

.features-item-food::before {
  background: url() no-repeat top center;
  background-size: 74px 70px;
}

.features-item-souvenirs::before {
  background: url() no-repeat top center;
  background-size: 64px 76px;
}

.feature-item-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.features-item-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-gray);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
}

.reasons {
  background-color: var(--basic-light-gray);
}

.reasons-list {
  list-style: none;
}

.reasons-item {
  position: relative;
  text-align: center;
}

.reasons-item-title {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.reasons-item-text {
  margin: 21px 0 0;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-gray);
  font-weight: normal;
  font-family: "PT Sans", Arial, sans-serif;
}

.search {
  padding-top: 50px;
}

.search-info {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.search-title {
  margin: 0 0 24px;
  font-size: 30px;
  line-height: 36px;
  color: var(--basic-black);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.search-text {
  margin: 0;
  line-height: 24px;
}

.search-btn{
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  font-weight: bold;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-brown);
  padding: 30px 50px;
  border: none;
  text-transform: uppercase;
}

.page-footer-index {
  background-color: var(--opacity-footer);
  }



.page-footer-info {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 4px 3px;
}

.footer-social-list a {
  color: var(--basic-white);
}

.social-button {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.social-button:hover {
  background-color: var(--basic-blue669);
}

.social-button:active {
  background-color: var(--basic-extra-blue);
}

.social-button:active::before {
  opacity: var(--opacity-menu);
}

.contacts-phone,
.page-footer-contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
  text-decoration: none;
}
